{
  "root": true,
  "env": {
    "node": true,
    "jquery": true
  },
  "extends": ["plugin:vue/essential", "@vue/standard"],
  "rules": {
    "space-before-function-paren": "off",
    // 缩进4个空格
    "indent": ["off", 2],
    // 语句末尾有分号
    "semi": [2, "never"],
    "semi-spacing": [2, {
      "before": false,
      "after": true
    }], //分号前后空格
    "no-mixed-spaces-and-tabs": 2, //禁止混用tab和空格
    "no-multi-spaces": 2 //不能用多余的空格
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}